-/Juan_Carlos-epub/
-/Juan_Carlos.4ct
-/Juan_Carlos.4tc
-/Juan_Carlos.aux
-/Juan_Carlos.css
-/Juan_Carlos.dvi
-/Juan_Carlos.idv
-/Juan_Carlos.lg
-/Juan_Carlos.log
-/Juan_Carlos.ncx
-/Juan_Carlos.out
-/Juan_Carlos.tmp
-/Juan_Carlos.xref
-/content.opf
-/*.txt
